########################
# Core files           #
########################
/img
/telintelon
/courses

#############################
# Logs, databases and misc. #
#############################
/.idea
*.log
*.sql
*.sqlite
*.sass-cache

############
# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.bat
*.db
